.ArtistLabelCollection {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  pointer-events: none;
}

.ArtistLabelCollection__label {
  position: absolute;
  white-space: nowrap;
  font-size: var(--font-size-normal);
  text-shadow: 0 0 2px var(--color-dark-grey-blue);
}

.ArtistLabelCollection__label::selection {
  text-shadow: none;
}

.ArtistLabelCollection__label--highlighted {
  z-index: 1;
  padding: 2px 4px 4px;
  line-height: 1;
  font-weight: bold;
  background-color: var(--color-white-semitransparent);
}

@media all and (max-width: 400px) {
  .ArtistLabelCollection__label {
    font-size: var(--font-size-small);
  }

  .ArtistLabelCollection__label--highlighted {
    padding: 3px 3px 2px;
  }
}
