.ArtistLabelCollection {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  pointer-events: none;
}

.ArtistLabelCollection__label {
  position: absolute;
  transform: translateY(calc(-100% - 4px));
  white-space: nowrap;
  font-size: var(--font-size-normal);
}

@media all and (max-width: 400px) {
  .ArtistLabelCollection__label {
    font-size: var(--font-size-small);
  }
}
