.ExternalLinks {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: var(--font-size-normal);
}

.ExternalLinks__link {
  opacity: 0.6;
}

.ExternalLinks__link:hover {
  opacity: 1;
}

.ExternalLinks__field {
  text-align: right;
}

@media all and (max-width: 400px) {
  .ExternalLinks {
    font-size: var(--font-size-small);
  }
}
