.InfoBox {
  position: absolute;
  /* "z-index" should be greater than the one for ".ArtistLabelCollection" */
  z-index: 2;
  top: 0;
  left: 0;
  /* allows the canvas to receive mouse events under the info box */
  pointer-events: none;
}

.InfoBox > * {
  /* allows text to be selected and links to be clicked */
  pointer-events: auto;
}

.InfoBox__field--scrobble-info {
  display: none;
}

@media all and (max-width: 400px) {
  .InfoBox {
    font-size: var(--font-size-normal);
  }
}
