.Legend {
  display: flex;
  flex-wrap: wrap;
  margin: 0 14px 14px 14px;
  font-size: 0.5rem;
}

@media all and (min-width: 800px) {
  .Legend {
    font-size: 0.625rem;
  }
}

.Legend__genre {
  position: relative;
  flex-grow: 1;
  border: none;
  margin-right: 1px;
  white-space: nowrap;
}

.Legend__genre:last-child {
  margin-right: 0;
}

.Legend__genre-caption {
  position: absolute;
  top: 0;
  left: 50%;
  transform: rotate(90deg) translate(4px, -50%);
  transform-origin: top left;
  cursor: default;
}
