.Legend {
  display: flex;
  margin: 0 12px 12px 12px;
  font-size: var(--font-size-small);
}

.Legend__genre {
  position: relative;
  flex-grow: 1;
  height: 4px;
  margin-right: 1px;
  white-space: nowrap;
  transition-property: height;
  transition-duration: 400ms;
  transition-delay: 200ms;
}

.Legend__genre--highlighted {
  transform: rotate(-4deg) scaleX(1.2);
  transform-origin: top center;
  z-index: 1;
  font-weight: bold;
  color: var(--color-white);
}

.Legend__genre:last-child {
  margin-right: 0;
}

.Legend__genre-caption {
  position: absolute;
  top: 4px;
  left: 50%;
  transform: rotate(90deg) translateY(-50%);
  transform-origin: top left;
  cursor: default;
}

@media all and (min-width: 800px) {
  .Legend {
    font-size: var(--font-size-normal);
  }

  .Legend__genre-caption {
    top: 8px;
  }
}

@media all and (max-width: 400px) {
  .Legend {
    font-size: var(--font-size-extra-small);
  }

  .Legend__genre-caption {
    top: 2px;
  }
}
