.TimeAxisLabel {
  font-size: var(--font-size-small);
  position: absolute;
  white-space: nowrap;
  color: var(--color-grey-1);
}

.TimeAxisLabel--most-top {
  z-index: 1;
  background-color: var(--color-dark-grey-blue);
  color: var(--color-grey-2);
}

@media all and (max-width: 400px) {
  .TimeAxisLabel {
    font-size: var(--font-size-extra-small);
  }
}
