.YearNavigation {
  pointer-events: auto;
  margin-bottom: var(--panel-margin);
}

.YearNavigation__year-link {
  display: inline-block;
  margin-right: 10px;
}

.YearNavigation__year-link:last-child {
  margin-right: 0;
}

.YearNavigation__year-link--current {
  text-decoration: underline;
}

@media all and (max-width: 400px) {
  .YearNavigation {
    font-size: var(--font-size-normal);
  }
}
