.Timeline__chart {
  display: block;
}

.Timeline__x-axis-caption {
  font-size: 10px;
  position: absolute;
  white-space: nowrap;
  color: var(--color-grey-2);
}

.Timeline__info-box {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-row-gap: 10px;
  margin: 20px;
}

.Timeline__info-box-field {
  margin: 0;
}
