.Timeline {
}

.Timeline__chart {
  display: block;
}

.Timeline__info-box {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-row-gap: 10px;
  margin: 20px;
}

.Timeline__info-box-field {
  margin: 0;
}
