body {
  --color-black: #000;

  --color-dark-grey-1: #222;
  --color-dark-grey-2: #484848;
  --color-dark-grey-blue: #283038;
  --color-grey-1: #888;
  --color-grey-2: #aaa;
  --color-light-grey-1: #ccc;
  --color-light-grey-2: #ddd;
  --color-light-grey-3: #f0f0f0;
  --color-light-grey-4: #f8f8f8;

  --color-orange: #fa9833;

  --color-white: #fff;
}
