html {
  height: 100%;
  touch-action: manipulation;
}

body {
  font-family: Menlo, monospace;
  font-size: var(--font-size-root);
  height: 100%;
  overflow: hidden;
  margin: 0;
  color: var(--color-light-grey-1);
  background-color: var(--color-dark-grey-blue);
}

::selection {
  background-color: var(--color-light-blue);
}

a {
  text-decoration: none;
  color: var(--color-light-blue);
}

a:hover {
  text-decoration: underline;
}

a::selection {
  color: var(--color-dark-grey-blue);
}

.list-box--with-rows {
  display: inline-grid;
  grid-row-gap: 4px;
}

.list-box--with-bg {
  padding: 8px 10px;
  background-color: var(--color-dark-grey-1-semitransparent);
}

.list-box__field {
  margin: 0;
}
